td:nth-child(even) {
    background-color: #ff5900;
    color:white;
}

td:nth-child(odd) {
    background-color: #a63a00;
    color:yellow;
}

body {
    text-align:center;
    margin:auto;
    min-width:100%;
    font-family: arial;
}

h2 {
    color:yellow;
    background-color:#ff5900;
}

table {
    margin:auto;
    width:100%;
}